* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sedan", serif;
}

html,
body {
    height: 100%;
    width: 100%;
    padding-top: 54px;
}

#backgound {
    position: relative;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    
}

#my {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    width: 100%;
}

#name {
    font-size: 80px;
    color: white;
    display: flex;
    gap: 20px;
    margin: 10px 20px;
}

#Anime {
    color: red;
}

#content {
    display: flex;
    font-size: 20px;
}

.text {
    color: white;
    text-decoration: none;
    transition: 1s;
    margin: 36px 30px;
}

.text:hover {
    transform: scale(1.3);
    z-index: 2;
}

#Suggation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px;
    gap: 60px;

}

.sugg {
    height: 300px;
    border-radius: 17px;
    transition: 1s;
    opacity: 0.6;
}

.sugg:hover {
    transform: scale(1.3);
    z-index: 2;
    opacity: 2;
}

#box {
    border-radius: 20px;
    width: 200px;
    height: 31px;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    margin: 36px 0px;
}

#search {
    font-size: 20px;
    padding: 7px;
    border-radius: 50%;
    background: #586298;
    color: white;
    margin: 0px 10px;
}

#Trending {
    color: white;
    top: 170px;
    position: absolute;
    left: 30px;
    text-align: center;
}

.sgn {
    text-decoration: none;
    font-size: 15px;
    width: 400px;
    color: white;
    text-align: center;
}

#comment {
    height: 1500px;
    width: auto;
    background-color: #262632fd;
    color: whitesmoke;
    padding: 30px;
    display: flex;
}

#in {
    height: 100%;
    width: 250vh;

    margin: 30px 0px 0px 150px;
}

#in h1 {
    font-size: 24px;
}

#list {
    padding: 0px 20px;
}

#com {
    margin: 0px 100px 0px 60px;
    text-align: center;
    width: 70%;
    align-items: center;
}

#com1 {
    margin: 20px 0px;
    border-radius: 10px;
    width: 410px;
}

#com2 {
    width: 410px;
    border-radius: 10px;
    margin: 20px 0px;
}

#com3 {
    width: 410px;
    margin: 20px 0px;
    border-radius: 10px;
}

#com4 {
    width: 410px;
    margin: 20px 0px;
    border-radius: 10px;

}

#com5 {
    width: 410px;
    margin: 20px 0px;
    border-radius: 10px;
}

#read {
    background-color: rgb(62, 59, 80);
    color: white;
    position: absolute;
    width: 28%;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}