* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sedan", serif;
}

html,
body {
    height: 100%;
    width: 100%;
    padding-top: 6vh;
}

#backgound {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

    
}

#my {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    width: 100%;
    height: 12.3vh;
}

#name {
    font-size: 4.3vw;
    color: white;
    display: flex;
    gap: 0.2vw;
    margin: 3vh 2vw;
}

#Anime {
    color: red;
}

#content {
    display: flex;
    font-size: 1.5vw;
    justify-content: space-evenly;
}

.text {
    color: white;
    text-decoration: none;
    transition: 1s;
    margin: 36px 30px;
}

.text:hover {
    transform: scale(1.3);
    z-index: 2;
}

#Suggation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10vh;
    
    height: 70vh;
    
}

.sugg {
    height: 20vw;
    
    border-radius: 2vw;
    transition: 1s;
    opacity: 0.6;
}

.sugg:hover {
    transform: scale(1.3);
    z-index: 2;
    opacity: 2;
}

#box {
    border-radius: 1.3vw;
    width: 14vw;
    height: 4vh;
    padding: 1vw;
    border: none;
    outline: none;
    font-size: 1.3vw;
    
}
#menu{
    background: transparent;
    color: #fff;
    border: none;
    display: none;
    margin-top: 19px;
}
#search {
    font-size: 1vw;
    padding: 0.7vw;
    border-radius: 50%;
    background: #586298;
    color: white;
    
}

#form{
    display: flex;
    align-items: center;
    padding-top: 2vh;
}
#Trending {
    color: white;
    top: 170px;
    position: absolute;
    left: 30px;
    text-align: center;
}

.sgn {
    text-decoration: none;
    font-size: 1vw;
    color: white;
    text-align: center;
    
}

#comment {
    height: 200vh;
    justify-content: space-between;
    background-color: #262632fd;
    color: whitesmoke;
    padding: 30px;
    display: flex;
    margin-top: 7.8vh;

}

#in {
    height: 100%;
    width: 250vh;
    font-size: 1vw;
    padding:0px 10vw;
}

#in h1 {
    font-size: 2vw;
}

#list {
    padding: 0px 20px;
}

#com {
    
    text-align: center;
    width: 50vw;
    align-items: center;
}

.com1 {
    margin: 20px 0px;
    border-radius: 10px;
    width: 30vw;
}



#read {
    background-color: rgb(62, 59, 80);
    color: white;
    position: absolute;
    width: 28%;
    font-size: 1.4vw;
    padding: 1.7vw;
    border-radius: 20px;
    cursor: pointer;
}
@media (max-width:600px) {
    .text{
        display: none;
    }
    #Suggation{
        flex-wrap: wrap;
    }
    .sugg{
        width: 120px;
        height: auto;
        
    }
    #name{
        font-size: 40px;
        margin-top: 40px;
       
    }
    #form{
        
        width: 180px;
        display: flex;
        
        
    }
    #box{
        width: 150px;
        font-size: 20px;
    }
    #search{
        font-size: 20px;
        background: transparent;
        border: none;  
    }
    #menu{
        display: block;
        margin-right: 10px;
        font-size: 25px;
    }
    #Trending{
        top: 120px;
        font-size: 20px;
    }
    .sgn{
        font-size: 10px;
    }
    #in{
        font-size: 10px;
    }
    #in h1{
        font-size: 17px;
    }
    .com1{
        height: 80px;
        width: 120px;
    }
    #comment{
        height: auto;
        margin-top: -0.1vh;
    }
}